.overviewCard {
  padding: 24px 32px;
  max-width: 180px;
  width: 100%;
  display: block;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  text-decoration: none;
  transition: all ease 0.4s;

  &:hover {
    border: 1px solid #3751ff;

    h3 {
      color: #3751ff;
    }

    p {
      color: #3751ff;
    }
  }

  &__title {
    margin: 0 0 12px;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #9fa2b4;
  }

  &__count {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: #252733;
  }
}
