.footerLeft {
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  width: 100%;

  &__t{
    padding: 32px;
  }

  &__title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    color: red;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #3751ff;
  }
  &__title_bottom {
    margin: 8px 0 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9fa2b4;
  }
}
