.list {
  padding: 18px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfe0eb;
  text-decoration: none;

  &:hover{
    border: 1px solid #3751FF;

    h3{
      color: #3751FF;
    }

    p{
      color: #3751FF;
    }
  }

  &__title {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
  }

  &__count {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #9fa2b4;
  }
}
